// Theme variables

// Colors
$gray: #5d686e;
$orange: #f29900;
$white: #fff;
$error: #db4242;
$success: #5fd520;
$warning: #e0bd22;
$info: #20aad5;
$black1: #1c1b1b;
$black2: #2f2f2f;

// Typography
$markpro-Bold: "MarkPro-Bold";
$markpro-light: "MarkPro-Light";
$effra: "effra";

$font-size-display-large: 52px;
$font-size-h1: 40px;
$font-size-h2: 36px;
$font-size-h3: 32px;
$font-size-h4: 28px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

// Spacers for margin/padding/etc
$spacer: 32px;
$spacer-half: 16px;
$spacer-double: 64px;

// Standard border radius
$border-radius: 6px;
$border-radius-sm: 4px;

// Transition default
$transition: all .3s ease-in-out;

// Forms
$form-grid-gutter: 22px;